body {
    padding-top: 10px;
}

/* Panel */

#org-input-closer {
    font-weight: bold;
    padding: 3px 8px;
    text-align: right;
    cursor: pointer;
}

#panel, #org-input {
    background-color: black;
    opacity: 0.9;
    color: white;
}

#panel {
    position: fixed;
    top: 10px;
    right: 10px;
}

#org-input {
    min-height: 300px;
    min-width: 400px;
    font-family : Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

/* Code */

pre code {
    background-color: inherit;
    color: inherit;
    padding: 0;
}

/* Result */

#result {
    border                : 1px solid #ccc;
    padding               : 4px;
    overflow              : auto;
}

#result > * {
    padding-left: 4px;
}

span.task-status {
    padding: 0 0.2em;
    margin-right: 10px;
}

span.task-color-green {
    color: white;
    background-color: #00ff00;
}

span.task-color-red {
    color: white;
    background-color: #ff0000;
}

span.task-color-deepskyblue {
    color: white;
    background-color: #00bfff;
}

span.task-color-tomato2 {
    color: white;
    background-color: #ee5c42;
}

span.task-color-darkviolet {
    color: white;
    background-color: #9400d3;
}

span.task-color-greenyellow {
    color: white;
    background-color: #adff2f;
}

span.task-color-forestgreen {
    color: white;
    background-color: #228b22;
}

span.task-color-royalblue {
    color: white;
    background-color: #4169e1;
}

/* Section Number */
.section-number {
    padding-right : 10px;
    font-weight   : bold;
    color         : rgb(0, 90, 190);
    font-style    : italic;
}

.org-subscript-child {
    font-size : 85%;
}